body{
    background: black
}
.card{
    background: url(./assets/bg5.jpg) no-repeat;
    height: 300px;
    width: 500px;   
    background-size: cover;
    padding: 1px 20px;
    box-sizing: border-box;

}
.nome{
    color: white;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgb(247, 31, 2);
    margin-top: 1px;
    font-weight: bolder;
    transition: transform .2s;
}
.nome:hover{
    color: rgb(255, 187, 0);
    transform: scale(1.15);
}
.insta{
    width: 50px;
    height: 50px;
    text-decoration: none;
}
.twitter{
    width: 50px;
    height: 50px;
}
.youtube{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;
    font-family: "Rock Salt", cursive;
    font-size: 15px;
    text-shadow: 5px 5px 5px rgb(247, 100, 2);
    font-weight: bolder;
}
a:visited{
    color: white;
    transition: transform .2s;
    font-weight: bolder;
}
a:hover{
    color: rgb(243, 181, 10);
    transform: scale(1.15);
}
.frase{
    color: white;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(247, 100, 2);
    transition: transform .2s;
}
.frase:hover{
    color: rgb(243, 181, 10);
    animation: shake 75ms infinite;
    animation-timing-function: linear;
    transform: scale(1.15)
}
